/* Шапка */
@font-face {
	font-family: "Minecraft";
	font-style: normal;
	font-weight: 400;
	src: url("./font/minecraft_font.eot") format("eot"), 
	     url("./font/minecraft_font.woff") format("woff"), 
	     url("./font/minecraft_font.ttf") format("truetype"), 
	     url("./font/minecraft_font.svg#Minecraft") format("svg");
}
@media (min-width: 601px) {
    /* Картинка логотипа */
    .listimg{
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 101px;
        padding: 16px 100px 16px 101px;
    }
    .listimg img{
        width: 64px;
        height: 64px;
    }
    /* Текст в меню */
main{
    height: 100%;
}
.textmenu .textmenu-main{
    text-decoration: none;
    color: rgb(202, 240, 248);
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 24px;
    cursor: default;
    text-decoration: underline rgb(144 224 239);
}
.textmenu1 a:hover{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 24px;
    text-decoration: underline rgb(19, 72, 5);
}
.textmenu1 a{
    text-decoration: none;
    color: rgb(202, 240, 248);
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 24px;
}
.textmenu{
    display: flex;
    gap: 100px;
}
/* Общий флексбокс 2 дивов */
.listheader{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 0 20px 0;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 0 5px 8px rebeccapurple;
}

.listheader nav{
    display: flex;
    list-style: none;
    gap: 120px;
    font-weight: normal;
    justify-content: center;
    padding: 42px 220px 45px 0px; 
    font-size: 18px;
}
/* Обращение к блоку header */
header{
    display: flex;
    justify-content: center;
    padding: 0 0 0 0;
}


    /* Главная страница */
    /* флексит main и aside */
    .conteiner{
        display: flex;
        padding-block-end: 24px;
        padding-left: 25px;
        padding-right: 25px;
        gap: 5px;
        width: 96%;
    }
    /* aside блок */
    aside{
        width: 206px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        flex-grow: 0;
        border-right: #000000 solid;
        top: 0;
        left: 0;
        z-index: 1000;

    }
    /* brewery */
    /* brewry ditals */
.custom-detailsb {
  position: relative;
  display: inline-block;
  width: 96%;
  padding-left: 2px;
  padding-right: 2px;
  margin-right: 6px;
  justify-content: center;
}
.custom-summaryb:hover{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    box-shadow: 0 0 7px rgb(47, 45, 45);
}
.custom-summaryb {
  list-style: none;
  color: #b1a9a9;
  padding: 16px;
  font-size: 24px;
  cursor: pointer;
  width: 200px;
  border-radius: 5px;
  padding: 15px;
  width: 99%;
  justify-content: center;
}


.b-nam li{
    display: flex;
    flex-direction: column;
    padding: 0px;
    font-size: 16px;
    color: rgb(49, 98, 139);
    border-radius: 5px;
    max-width: fit-content;
    max-height: fit-content;
    gap: 0px;
    margin: 0;
    flex-wrap: wrap;  
}
.b-nam{
    border-color: rgb(49, 98, 139);
    border-width: 2px;
    border-style: solid;
    padding: 5px;
    border-radius: 5px;
    width: 200px;
}
.info-nap{
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-block-end: 10px;
    gap: 10px;
}
.custom-summary::-webkit-details-marker {
  display: none;
}

.custom-summary::after {
  content: none;
  float: right;
}

.custom-details[open] .custom-summary::after {
  content: none;
}
.br-info{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    color: #8d9496;
}
.br-info p{
    font-size: 24px;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    color: #8d9496;
}
.instr-br{
    display: flex;
    flex-direction: column;
    color: #8d9496;
}
.instr-br p{
    display: flex;
    flex-direction: row;
    font-size: 24px;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    color: #8d9496;
}
.instr-br li{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: bold;
    color: #8d9496;
}
.rab-mesto-br{
    display: flex;
    flex-direction: column;
    color: #8d9496;
}
.rab-mesto-br p{
    display: flex;
    flex-direction: row;
    font-size: 24px;
    margin: 0;
    padding: 5px;
    color: #8d9496;
}
.rab-mesto-br img{
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
    border-style:solid;
    width: 50%;
    color: #8d9496;
}
.obimg img{
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
    border-style:solid;
    width: 30%;   
}
.obimg p{
    font-size: 18px;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    color: #8d9496;
}
.bochka-br{
    display: flex;
    flex-direction: column;
    color: #8d9496;
}
.bochka-br p{
    display: flex;
    flex-direction: row;
    font-size: 24px;
    padding: 0;
    margin: 0;
    padding-top: 5px;
    padding-block-end: 20px;
    color: #8d9496;
}
.bochka-br li{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.bochhz{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    transform: translateX(-20%);
}
    /* блоки */
    .iaerarhia{
        display: flex;
        flex-direction: column;
    }
    .ministerstva{
        display: flex;
        flex-direction: column;
    }
    .sponsorstvo{
        display: flex;
        flex-direction: column;
    }
    .system{
        display: flex;
        flex-direction: column;
    }



    #sustem{
        display: none;
        flex-direction: column;
    }
    #spons{
        display: none;
        flex-direction: column;
    }
    #miest{
        display: flex;
        flex-direction: column;
    }
    #irar{
        display: none;
        flex-direction: column;
    }
    #limitfarm{
        display: none;
        flex-direction: column;
    }
    
    #catalog{
        display: none;
        flex-direction: row;
    }
    /* подблоки */
    #obshinfo{
        display: none;
        flex-direction: column;
    }
    #brew{
        display: none;
        flex-direction: column;
    }
    #arm{
        display: none;
        flex-direction: column;
    } 
    #craft{
        display: none;
        flex-direction: column;
    }
    #vol{
        display: none;
        flex-direction: column;
    }
    #shalk{
        display: none;
        flex-direction: column;
    }
    #poch{
        display: none;
        flex-direction: column;
    }
    #camech{
        display: none;
        flex-direction: column;
    }
    #gran{
        display: none;
        flex-direction: column;
    }
    #shitel{
        display: none;
        flex-direction: column;
    }
    #cmd{
        display: none;
        flex-direction: column;
    }
    /*  */
    /* каталог */
    .catolog-wiki{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;
        margin: 0;
        width: 100%;
        justify-content: center;
    }
    .spisok{
        color: #b1a9a9;
        border: #121b2c solid 2px;
        cursor: pointer;
        width: fit-content;
    }
    .spisok p{
        padding: 5px;
        font-size: 18px;
        height: min-content;
        margin: 0;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .craft{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: fit-content;
        align-items: center;
    }
    /*  */
    .nav-aside a{
        text-decoration: none;
        color: rgb(179, 245, 236);
        font-family: "Minecraft";
        width: max-content;
    }
    .nav-aside p{
        padding: 1px;
        width: max-content;
        margin-right: 20px;
        font-size: 20px;
    }
    .put-on-wiki{
        display: flex;
        color: rgb(179, 245, 236);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
        font-family: "Minecraft";
        border: rgb(11, 130, 157) solid 2px;
        border-radius: 2px;
        padding: 5px;
        height: fit-content;
        width: 200px;
        flex-grow: 0;
        position: static;
        justify-content: start;
        margin-right: 0;
        align-items: center;
        justify-content: center;
    }

    .info-put-on{
        display: flex;
        flex-direction: row;
        gap: 10px;
        font-family: "Minecraft";
        
    }
    .sz-text1 p{
        display: flex;
        flex-direction: row;
        color: rgb(255, 255, 255);
        margin: 0;
        padding: 0;
    }
    .sz-title{
        padding-top: 12px;
        display: flex;
        flex-direction: row;
        font-size: 36px;
        font-weight: 500;
        color: white;
    }
    .sz-text{
        padding-top: 18px;
        display: flex;
        flex-direction: column;
        font-size: 24px;
        gap: 1%;
        color: #8d9496;
    }
    /* блок спонсорства */
    .dliachego p{
        display: flex;
        font-size: 36px;
        justify-content: center;
        color: #b1a9a9;
    }
    .textsponsorcnv p{
        margin: 0;
        display: flex;
        flex-direction: column;
        font-size: 24px;
        color: #8d9496;
    }
    .sz-textsss a:hover{
        text-decoration: underline #8d9496;
    }
    .sz-textsss a{
        text-decoration: none;
        color: #8d9496;
    }
    .obshi-div-sponsorok{
        display: flex;
        justify-content: center;
        gap: 5%;
        padding-left: 9%;
        color: #8d9496;
    }
    .sponsor li{
        display: flex;
        transform: translateX(-40px);
        flex-direction: column;
        font-size: 20px;
        color: #8d9496;
    }
    .sponsor p{
        margin: 0;
        padding-block-end: 10px;
        color: #8d9496;
    }
    .sponsorplus p{
        margin: 0;
        padding-block-end: 10px;
        color: #8d9496;
    }
    .sponsorplus li{
        display: flex;
        transform: translateX(-3%);
        flex-direction: column;
        font-size: 20px;
        color: #8d9496;
    }
    /*настройки окна  */
    :root{
        --scrollbar-width: 6px;
        --scrollbar-track-color: hsl(259, 71%, 10%);
        --scrollbar-thumb-color: hsl(220, 77%, 21%);
        --scrollbar-thumb-hover-color: hsl(225, 57%, 28%);
    }
    ::-webkit-scrollbar-thumb{
        background: var(--scrollbar-thumb-color);
        border-radius: 6px;
    }
    ::-webkit-scrollbar-track{
        background: var(--scrollbar-track-color);
    }
    ::-webkit-scrollbar{
        width: var(--scrollbar-width);
    }

    ::-webkit-scrollbar-thumb:hover{
        background: var(--scrollbar-thumb-hover-color);
    }
    ::-webkit-progress-bar {
        background: #333; 
    }

    ::-webkit-progress-value {
        background: #666; 
    }
    progress {
        background: #333; 
        color: #666; 
    }

    progress::-moz-progress-bar {
        background: #666; 
    }
    ::-webkit-meter-bar{
        background: #666;
    }
    /* структура заполнения министерств */
    .minlist{
    display: flex;
    flex-direction: column;

}
.minlist p{
    display: flex;
    justify-content: start;
    font-size: 36px;
    margin: 0px;
    padding-top: 10px;
    color: #b1a9a9;
}
.minlist a{
    display: flex;
    justify-content: start;
    text-decoration: none;
    font-size: 24px;
    color: #b1a9a9;
}
.minlist a:hover{
    display: flex;
    justify-content: start;
    text-decoration: underline;
    font-size: 24px;
    color: #918888;
}

.tetle-minist{
    display: flex;
    justify-content: center;
    font-size: 36px;
    padding-top: 20px;
    color: #b1a9a9;
}
.name-minist p{
    display: flex;
    font-size: 24px;
    padding-top: 10px;
    flex-direction: row;
    margin: 0px;
    color: #8d9496;
}
.ceil-minist p{
    display: flex;
    font-size: 24px;
    flex-direction: row;
    padding-top: 10px;
    margin: 0px;
    color: #8d9496;
}
.structura-minist p{
    display: flex;
    font-size: 24px;
    flex-direction: row;
    margin: 0px; 
    padding-top: 5px; 
    color: #8d9496;
}
.structura-minist li{
    display: flex;
    font-size: 18px;
    flex-direction: row;
    margin: 0px; 
    padding-top: 5px; 
    padding-left: 5px;
    color: #8d9496;
}
.obaz-minist p{
    display: flex;
    font-size: 24px;
    flex-direction: row;
    margin: 0px; 
    padding-top: 10px; 
    color: #8d9496;
}
.text-otdela p{
    display: flex;
    font-size: 24px;
    flex-direction: row;
    margin: 0px; 
    padding: 0px;
    padding-top: 10px; 
    color: #8d9496;
}
.text-otdela{
    display: flex;
    transform: translateX(-10px);
    color: #8d9496;
}
.min1 ul{
    display: flex;
    flex-direction: column;
    margin: 0px;
    color: #8d9496;
}
.spisok li{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    color: #8d9496;
}
.obsh-info{
    color: #8d9496;
}
.obsh-info a{
    text-decoration: underline rgb(128, 128, 128);
    color: #b1a9a9;
}
    /* Главные кнопки */
    .main-but{
        display: flex;
        justify-content: center;
        font-size: 42px;
        color: #b1a9a9;
    }
    .obaz-minist{
        color: #8d9496;
    }
    .obaz-minist li{
        list-style: none;
    }

    main{
        height: 100%;
        flex-direction: column;
        display: flex;
        flex-grow: 1;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
        gap: 10px;
    }
    .cont_all{
        display: flex;
        flex-direction: row;
    }
    .infoclon{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: rgb(119, 217, 234);
        width: 206px;
        justify-content: center;
    }
    .title_scroll{
        display: flex;
        flex-direction: row;
        flex-grow: 0;
        width: 206px;
        border: #85b0ff solid 1px;
        border-radius: 2px;
        cursor: pointer;
        width: max-content;
        flex-shrink: 1;
        padding: 7px;
    }
    .navig-main{
        display: flex;
        background-color: rgb(0, 0, 0);
        width: 80%;
        padding: 10px;
        border-radius: 5px;
        box-shadow: #4703c42b 1px 5px 0px;
        margin-block-end: 2%;
        margin-top: 2%;
        max-height: fit-content;
        justify-content: center;
        flex-grow: 1;
        margin: 0 4% 0 4%;
    }
    .block-main{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        overflow-y: auto;

        padding: 10px;
        border-radius: 5px;
        margin-top: 1%;
    }
    .block-main1{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        overflow-y: auto;

        padding: 10px;
        border-radius: 5px;
        margin-top: 1%;
    }
    .block-main::-webkit-scrollbar{
        display: none;
    }
    .block-main1::-webkit-scrollbar{
        display: flex;
    }
    /* футер */
    footer{
        background-color: rgb(0, 0, 0);
        nav-index: 1000;
    }
    /* Главный блок футера */
    .fottermain{
        display: flex;
        justify-content: center;
        gap: 516px;
        list-style: none;
        padding-block-end: 25px;
        padding-right: 10px;
    }
    /* 1 блок футера */
    .fot1{
        color: #585454;
        font-size: 24px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .fot1 img{
        width:46px;
        height: 29px;
    }
    .fot1 p{
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
        color:rgb(202, 240, 248);
    }
    /* 2 блок футера */
    .fot2{
        padding-left: 200px;
        display: flex;
        text-decoration: none;
        flex-direction: column;
        padding-top: 4px;
        gap: 6px;
    }
    .fot2 a{
        color: rgb(202, 240, 248);
        text-decoration: none;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .fot2 a:hover{
        color: rgb(202, 240, 248);
        text-decoration: none;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: underline rgb(144 224 239);

    }
    .fottogether{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .impair{
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .impair img{
        display: flex;
        justify-content: start;
        padding-left:30px ;
        padding-top: 20px;
        width: 66px;
        height: 66px;
    }
    .impair p{
        display: flex;
        color: rgb(202, 240, 248);
        font-size: 24px;
        padding-left: 30px;
        font-family: Arial, Helvetica, sans-serif;
        font-variant: small-caps;
        font-weight: bolder;
    }
    .fot2 p{
        color: rgb(202, 240, 248);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 24px;
    }

    /* блоки ссылок на вк и ютуб */
    .seti{
        display: flex;
        justify-content: center;
        gap: 6px;
    }
    .seti li{
        color: rgb(202, 240, 248);
        font-family: Arial, Helvetica, sans-serif;
    }
    .seti a{
        color: rgb(202, 240, 248);
        text-decoration: none;
    }
    .seti a:hover{
        text-decoration: underline rgb(144 224 239);
    }
    /* Тело */
    body{
        background: linear-gradient(45deg, #121b2c, #121b2c);
        margin: 0;
        
    }
}
